
<div style="width: 340px" >
<%= form_with(model: empdatum) do |form| %>
  <% if empdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empdatum.errors.count, "error") %> prohibited this empdatum from being saved:</h2>

      <ul>
        <% empdatum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.text_field :age, class:"form-control",placeholder:"Age" %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.text_field :gender, class:"form-control",placeholder:"Gender" %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.text_field :designation, class:"form-control",placeholder:"Designation" %>
    <br/>
  </div>

  <div class="actions">
  <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
<br/>
</div>
